.full-page-background {
  background-color: lightskyblue;
}

.dropdown-menu-link {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(-144px, 42px, 0px);
}

.current-user {
  text-transform: none;
}

.main-panel {
  width: 100%;
}
